@model IEnumerable<Heroes.Models.Hero>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Img)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SuperName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Planet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Power1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Power2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Power3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Universe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Force)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Img)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SuperName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Planet.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Power1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Power2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Power3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Universe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Force)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
